.details {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 194px;
  }
}

// .details__title {

// }

.details__list {
  margin: 0;
  padding: 0;


  counter-reset: count;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 59px;
    grid-row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
  }
}

.details__item {
  position: relative;
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    width: 60px;
    height: 60px;

    background-color: $basic-green;
  }

  &::after {
    top: 0;
    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-position: 15px 15px;
  }

  &:nth-child(1)::after {
    background-image: url("../../../img/details/icon_leaf.svg");
  }

  &:nth-child(2)::after {
    background-image: url("../../../img/details/icon_tub.svg");
  }

  &:nth-child(3)::after {
    background-image: url("../../../img/details/icon_eat.svg");
  }

  &:nth-child(4)::after {
    background-image: url("../../../img/details/icon_alarm.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 35px 0 40px 0;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 35px;

      background-position: 25px 25px;
    }
  }

  // @media (min-width: $desktop-width) {
  //   &::after {
  //     top: 35px;
  //   }
  // }
}

.details__text {
  padding: 2px 0 0 80px;
  margin: 0;

  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    padding: 110px 10% 0 0;

    &::before {
      position: absolute;

      top: -2%;
      right: 24%;

      counter-increment: count;
      content: counter(count);

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;

      color: $basic-grey;

      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;

    padding: 111px 10% 0 0;

    &:last-child {
      padding: 111px 0 0 0;
    }

    &::before {
      top: 0;
      right: 0;
    }
  }
}
