.lead {
  background-image: url(../../../img/cat-bg.jpg);
  background-position: 50% 23%;
  background-repeat: no-repeat;
  background-color: $basic-green;
  background-blend-mode: overlay;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $basic-white;

  text-align: center;
  padding: 25px 0 0 0;
}

.lead__title {
  font-size: 36px;
  line-height: 36px;

  margin: 0 0 25px 0;
}

.lead__text {
  font-size: 14px;
  line-height: 14px;

  text-transform: uppercase;
  margin: 0;
}

.lead__img {
  margin: 0 auto;
}

.lead__btn {
  font-size: 14px;
  line-height: 18px;
}
