.lead {
  position: relative;

  height: 457px;

  background-image:
    url("../../../img/cat-bg/cat-bg-mobile.jpg"),
    linear-gradient(to top, $basic-white 0%, $basic-white 37.5%, transparent 37.5%),
    linear-gradient(to right, $bg-dark-green 0%, $bg-dark-green 100%);
  background-repeat: no-repeat;
  background-position: top;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $basic-white;

  text-align: center;
  padding: 25px 0 0 0;
  margin: 0 0 22px 0;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../../../img/cat-bg/cat-bg-mobile@2x.jpg"),
      linear-gradient(to right, $bg-dark-green 0%, $bg-dark-green 100%);
    background-size: auto 62.7%;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    height: 776px;

    background-image: none;
    background-color: $basic-white;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    height: 400px;

    background-image:
      url("../../../img/cat-bg/cat-bg-desktop.jpg"),
      linear-gradient(to right, $basic-white 0%, $basic-white 50%, $bg-dark-green 50%);
    background-repeat: no-repeat;
    background-size: contain, 100%;
    background-position: right;

    padding: 223px 0 70px 0;
    margin-bottom: 82px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../img/cat-bg/cat-bg-desktop@2x.jpg");
    }
  }
}

.lead__title {
  color: $basic-white;

  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;

    color: $basic-black;

    margin: 2% 0 6% 12%;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;

    width: 50%;

    margin: 0 0 39px 80px;

    color: $basic-black;
  }
}

.lead__text {
  font-size: 14px;
  line-height: 14px;

  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    font-size: 20px;
    line-height: 20px;
    text-align: left;

    color: $basic-black;

    margin: 0 0 48px 12.5%;
  }

  @media (min-width: $desktop-width) {
    position: static;
    z-index: 0;

    font-size: 20px;
    line-height: 20px;
    text-align: left;

    margin: 0 0 0 80px;

    color: $basic-black;
  }
}

.lead__img {
  position: absolute;
  top: 167px;
  right: 20px;

  width: 280px;

  margin: 0 auto;

  @media (max-width: $mobile-width) {
    left: 20px;
  }

  @media (min-width: $tablet-width) {
    top: 30%;
    right: 4%;
    left: 4%;

    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: 20%;
    right: 23%;
    left: auto;

    width: 552px;
    height: 499px;
  }
}

.lead__btn {
  position: absolute;

  top: auto;
  bottom: 0;

  width: 251px;

  font-size: 14px;
  line-height: 18px;

  padding: 12px 15px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    left: 20px;
    right: 20px;
  }

  @media (min-width: $tablet-width) {
    position: relative;

    width: 244px;

    font-size: 20px;
    line-height: 20px;

    padding: 17px 0;
    margin: 48px 0 0 12.5%;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;

    top: 66%;
    left: 190px; //13.2%
    bottom: auto;

    width: 192px;

    font-size: 20px;
    line-height: 20px;

    padding: 17px 26px;
    margin: 0;
    z-index: 0;
  }
}
