.sample {
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;

  background-color: $sample-bg;

  padding: 27px 0 34px 0;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;

    padding: 37px 0 31px 0;
  }

  @media (min-width: $desktop-width) {
    height: 440px;

    background-color: $sample-bg;

    padding: 0 110px 23px 110px;

    &--grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content 1fr 1fr;
    }
  }
}

.sample__title {
  padding: 0 20px 0 20px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding-left: 30px;

    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-top: -136px;
    padding: 0;
  }
}

.sample__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  margin: 0 0 20px 0;
  padding: 0 20px 0 20px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    padding: 0 40px 0 30px;
    margin: 0 0 39px 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    font-size: 16px;
    line-height: 24px;

    background-color: $sample-bg;

    margin-bottom: 0;
    padding: 70px 181px 0 0;
  }
}

.sample__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  text-align: center;
  align-items: center;

  padding: 0 20px 0 20px;
  margin-bottom: 3px;

  .sample__price {
    grid-column: 1 / -1;

    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;

    margin: 0;
  }


  @media (min-width: $tablet-width) {
    margin-bottom: 258px;
    padding: 0 30px 0 30px;

    .sample__price {
      grid-column: 2 / -1;

      text-align: right;

      font-size: 20px;

      margin-top: 15px;
    }

    .sample__price-numbers {
      display: block;
      margin-top: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-column: 1 / -1;
    grid-row: 3 / -1;

    height: 200px;

    background-color: $sample-bg;

    margin: 0;
    padding: 0;

    .sample__price {
      grid-column: 1 / -1;

      display: flex;
      justify-content: flex-start;

      margin: 0;
    }

    .sample__price-numbers {
      margin: 0 0 0 63px;
    }
  }
}

.sample__wrapper {
  display: flex;
  justify-content: space-between;

  grid-column: 1 / -1;

  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;

    margin: 9px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin: 13px 0 60px 0;
  }
}

.sample__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 124px;
  height: 56px;

  margin: 0;

  border: 1px solid $more-border;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;

    &:nth-child(1) {
      margin-right: 38px;
    }

    .sample__term {
      font-size: 14px;
      line-height: 14px;

      padding: 0 15px;
      background-color: $basic-white;
    }

    .sample__description {
      font-size: 30px;
      line-height: 37px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(1) {
      margin-right: 38px;
    }

    .sample__term {
      font-size: 14px;
      line-height: 14px;

      padding: 0 10px;
      background-color: $sample-bg;
    }

    .sample__description {
      font-size: 30px;
      line-height: 37px;
    }
  }
}

.sample__term {
  position: absolute;
  bottom: -9%;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;

  padding: 0 5px;
  background-color: $sample-bg;
  color: $special-dark-grey;

  @media (max-width: $mobile-width) {
    bottom: -30%;

    width: 80px;
  }
}

.sample__description {
  font-size: 24px;
  line-height: 24px;

  text-transform: uppercase;

  order: -1;

  margin: 0;
}

.sample__slider {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: min-content min-content;

    width: 100%;
    height: 393px;

    text-align: center;
    padding-bottom: 70px;

    background-color: $sample-bg;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / -1;
    grid-row: 2 / -1;

    justify-items: center;

    height: 520px;
    width: 600px;

    padding-bottom: 0;
  }
}

.sample__img--before,
.sample__img--after {
  overflow: hidden;

  @media (max-width: $mobile-width) {
    min-width: 280px;
    display: none;
  }

  @media (min-width: $tablet-width) {
    height: 100%;
  }
}

.sample__img {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 300px;

  overflow: hidden;

  margin-bottom: 1px;

  @media (max-width: $mobile-width) {
    &--active {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;

    position: relative;

    height: 520px;
    width: 680px;

    margin: -170px 0 18px 0;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;

    margin: -193px 0 25px 0;
  }
}

.sample__img--before img,
.sample__img--after img {
  display: block;
  pointer-events: none;

  // @media (max-width: $mobile-width) {

  // }

  @media (min-width: $tablet-width) {
    max-width: none;
    height: 520px;
  }
}

.sample__img--before img {
  @media (min-width: $desktop-width) {
    position: absolute;
    left: -10px;
  }
}

.sample__img--after img {
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 42px;
  }

  @media (min-width: $desktop-width) {
    top: -2px;
    right: 55px;
  }
}

.sample__img--before {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;

    width: 340px;

    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    width: 355px;
  }
}

.sample__img--after {
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    width: 340px;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }
}

.sample__buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  @media (min-width: $tablet-width) {
    grid-row: 2 / -1;
  }

  @media (min-width: $desktop-width) {
    height: 50px;
    width: 600px;

    margin-left: 4%;
  }
}

.sample__btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;

  color: $basic-black;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    &--prev::after {
      content: "";
      position: absolute;
      top: 35%;
      right: 50%;

      width: 38px;
      height: 6px;

      background-color: $basic-green;
      border-radius: 6px;
    }

    &--next::before {
      content: "";
      position: absolute;
      top: 35%;
      left: 49.5%;

      width: 38px;
      height: 6px;

      background-color: $basic-green;
      border-radius: 6px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;

    cursor: default;
  }

  // @media (min-width: $desktop-width) {

  // }
}

.slider__range {
  width: 84px;
  height: 12px;
  background-color: $basic-white;

  border: 1px solid $more-border;
  border-radius: 6px;

  margin: 0 7px 0 14px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 64%;
    height: 6px;

    border-radius: 6px;
    background-color: $range;
  }

  @media (min-width: $desktop-width) {
    width: 70%;

    margin: 0 20px;
  }
}

.slider__dragger {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 50%;

    transform: translateX(-50%);

    background-color: $basic-green;
    border: 13px solid $basic-white;
    border-radius: 50%;
    box-shadow: 0 1px 3px $range-shadow;

    cursor: grab;

    &:hover,
    &:focus {
      box-shadow: 0 2px 4px $range-shadow-hover;
    }

    &:active {
      box-shadow:
        0 0 0 1px $basic-green,
        0 3px 5px $range-shadow-active;
      cursor: grabbing;
    }
  }
}

.slider__input-range {
  opacity: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    width: 100%;
  }
}
