.contact {
  position: relative;

  background-color: $basic-grey;

  &--main {
    background-color: $basic-white;
  }
}

.contact__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: center;

  height: 114px;

  padding: 28px 0 26px 0;

  @media (min-width: $tablet-width) {
    height: 200px;
    justify-content: flex-end;
    grid-column-gap: 25%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 20%;
    left: 7%;

    display: flex;
    justify-content: space-around;
    grid-column-gap: 25%;

    height: 200px;
    width: 500px;

    background-color: $basic-white;

    padding: 30px 50px;
  }
}

.contact__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  color: $basic-title;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }
}

.contact__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  text-align: right;

  padding-left: 40%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    text-align: right;
    padding-left: 40%;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;

    text-align: right;
    padding-left: 0;
  }
}

.contact__sity {
  display: inline-block;
  padding-top: 15px;
}

// .contact__map {

// }

.contact__frame {
  width: 100%;
}
