.footer {
  padding: 30px 0 22px 0;

  background-color: $basic-grey;

  &--grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    padding: 55px 0 61px 0;

    &--grid {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 57px 0;

    &--grid {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.footer__logo {
  display: block;
  margin: 0 auto;

  width: 128px;
  height: 24px;

  margin-bottom: 32px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid $product-border;
  border-bottom: 1px solid $product-border;

  padding: 20px 0 20px 0;
  margin: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    border: none;
  }
}

.footer__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__link {
  fill: $logo-academy;

  &:hover,
  &:focus {
    fill: $basic-green;
  }

  &:active {
    fill: $basic-green;
    opacity: 0.3;
  }

  &:focus .footer__fb {
    stroke: $basic-green;
  }

  &:active .footer__fb {
    stroke: $basic-green;
    opacity: 0.3;
  }
}

.footer__fb {
  fill: none;
  stroke: $logo-academy;

  &:hover {
    stroke: $basic-green;
  }
}

.footer__dev {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .footer__academy-logo,
  &:focus .footer__academy-logo {
    fill: $basic-green;
  }

  &:active,
  &:active .footer__academy-logo {
    opacity: 0.3;
    fill: $basic-green;
  }
}

.footer__academy-text {
  width: 100%;
  font-size: 16px;
  color: $special-dark-grey;
}

.footer__academy-logo {
  fill: $logo-academy;
}
