.header {
  position: relative;
  text-align: center;

  padding: 10px 0 0 0;
  margin-bottom: 2px;
  // @media (min-width: $tablet-width) {

  // }

  @media (min-width: $desktop-width) {
    padding-top: 10px;

    &--main {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;

      .nav__wrapper {
        background-color: transparent;
      }

      .nav__link {
        color: $basic-white;
      }

      .current {
        border-bottom: 2px solid $basic-white;
      }
    }
  }
}

.header__grid {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;

    align-items: center;
    justify-content: center;
  }
}
