.logo {
  display: flex;
  align-items: center;

  height: 50px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    height: 100px;
  }

  @media (min-width: $desktop-width) {
    height: 150px;
  }
}

.logo__icon {
  width: 34px;
  height: 38px;
  margin-right: 57px;
}

.logo__text {
  width: 101px;
  height: 18px;
  vertical-align: super;
}
