.logo {
  display: flex;
  align-items: center;

  height: 50px;

  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    height: 85px;
  }

  @media (min-width: $desktop-width) {
    height: 150px;
  }
}

.logo__icon {
  width: 34px;
  height: 38px;
  margin: 0 57px 7px 0;

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 50px;

    margin: 0 11px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 71px;
    height: 60px;

    margin: 0 17px 0 0;
  }
}

.logo__text {
  width: 118px;
  height: 22px;
  vertical-align: super;
}
