.nav {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  color: $basic-black;

  &--nojs {
    .nav__wrapper {
      display: block;
    }

    .nav__button {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    font-weight: 500;

    &--close {
      .nav__wrapper {
        display: none;
      }

      .nav__button {
        top: 30%;
      }
    }

    &--active {
      display: block;
      position: absolute;

      top: 100%;
      left: 0;
      right: 0;

      .nav__button {
        top: -20%;
      }

      .nav__button::before {
        transform: rotate(45deg);
      }

      .nav__button::after {
        transform: rotate(-45deg);
      }

      .nav__button-middle {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;

    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: auto;
  }
}

.nav__button {
  display: block;
  position: absolute;
  top: 7%;
  left: 85%;
  z-index: 2;

  width: 24px;
  height: 2px;

  padding: 10px 0;

  background: none;
  border: none;

  transition: transform 0.2s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;

    right: 0%;
    width: 100%;
    height: 2px;

    background-color: $basic-black;
  }

  &::before {
    transform: translateY(-6px);
  }

  &::after {
    transform: translateY(4px);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__button-middle {
  display: block;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: $basic-black;
}

.nav__wrapper {
  background-color: $basic-white;
}

.nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
  }
}

.nav__item {
  border-top: 1px solid $basic-border;

  &:last-child {
    border-bottom: 1px solid $basic-border;
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 35px;

    border: none;

    &:last-child {
      border: none;
    }
  }
}

.nav__link {
  display: block;
  width: 100%;

  padding: 23px 0;

  color: $basic-black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }
}

.current {
  border-bottom: none;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
  }
}
