.catalog {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  // @media (min-width: $desktop-width) {

  // }
}

.catalog__title {
  margin: 27px 0 41px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 163px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 140px 60px;

    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 144px 80px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr min-content;
  align-items: center;

  padding: 19px 0 25px 0;

  border-top: 1px solid $catalog-border;

  &:last-child {
    border-bottom: 1px solid $catalog-border;
    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    grid-template-rows: repeat(2, 1fr min-content);

    padding: 25px; // 38px

    background-color: $basic-grey;
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr min-content);
  }
}

.catalog__link {
  color: $subtitle;

  &--img {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1 / 2;
    grid-row: 1 / 3;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;

      margin-top: -150px;
    }

    @media (min-width: $desktop-width) {
      grid-row: 1 / 2;
    }
  }

  &--subtitle {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }

    @media (min-width: $desktop-width) {
      grid-row: 2 / 3;
    }
  }
}

.catalog__link-icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 23px auto;

  background-image: url("../../../img/catalog/icon/plus.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

// .catalog__img {

// }

.catalog__subtitle {
  grid-column: 2 / -1;
  grid-row: 2 / -1;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  text-align: left;

  text-transform: uppercase;

  margin: 0 0 18px 0;

  @media (min-width: $tablet-width) {
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
  }
}

.catalog__subtitle--more {
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    & .catalog__link-icon {
      margin-bottom: 23px;
    }
  }

  @media (min-width: $desktop-width) {
    & .catalog__link-icon {
      margin-bottom: 23px;
    }
  }
}

.catalog__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  margin: 0 0 21px 0;
}

.catalog__feature {
  grid-column: 2 / -1;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  color: $catalog-feature;

  margin: 0 0 22px 0;

  & dd {
    text-align: right;

    margin: 0;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    & dd,
    & dt {
      border-bottom: 1px solid $more-border;

      margin-top: 7px;
      padding-bottom: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    & dd,
    & dt {
      border-bottom: 1px solid $more-border;

      margin-top: 6px;
      padding-bottom: 10px;
    }
  }
}

.catalog__more {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    border: 2px solid $basic-grey;

    & .catalog__link-icon {
      margin-bottom: 49px;
    }

    & .catalog__text {
      margin-bottom: 87px;
    }
  }

  @media (min-width: $desktop-width) {
    & .catalog__link-icon {
      margin-bottom: 49px;
    }

    & .catalog__text {
      margin-bottom: 87px;
    }
  }
}

.catalog__btn {
  grid-column: 1 / -1;
  grid-row: 3 / -1;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 4 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 4 / -1;
  }

  &--more {
    color: $catalog-feature;
    background-color: $basic-grey;

    padding: 10px;
  }

  &--more:hover,
  &--more:focus {
    background-color: $catalog-border;
  }

  &--more:active {
    color: $catalog-feature;
    background-color: $catalog-border;

    opacity: 0.3;
  }
}
