//Colors
$basic-green: #68b738;
$bg-dark-green: #64a73d;
$basic-grey: #f2f2f2;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-text: #444444;
$basic-title: #111111;
$basic-border: #e6e6e6;


$btn-hover: #5eaa2f;
$btn-active: rgba(255, 255, 255, 0.3);
$error: #ff8282;

$special-dark-grey: #444444;
$product-border: #d9d9d9;
$sample-bg: #eaeaea;
$logo-academy: #666666;
$subtitle: #222222;
$catalog-border: #ebebeb;
$catalog-feature: #444444;
$more-border: #cdcdcd;
$input: #e7e7e7;
$range: #dcdcdc;
$range-shadow: rgba(0, 0, 0, 0.16);
$range-shadow-hover: rgba(0, 0, 0, 0.19);
$range-shadow-active: rgba(0, 0, 0, 0.2);
$radio-hover: #bababa;

// Viewports
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
