.about {
  display: flex;
  flex-direction: column;

  border: none;

  margin: 0 0 22px 0;
  padding: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 45%;
  }
}

.about__name,
.about__weight,
.about__age {
  @include input-font;
  @include input-size;
}
