.about {
  display: flex;
  flex-direction: column;

  border: none;

  margin: 0 0 11px 0;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;

    margin: 0 0 52px 0;
    padding: 0 30px 0 69px;
  }

  @media (min-width: $desktop-width) {
    width: 45%;
    padding: 0 0 0 110px;
    margin-bottom: 0;
  }
}

.about__grid {
  margin: 0;
}

.about__label {
  margin-right: 15px;

  @media (min-width: $desktop-width) {
    margin-right: 17px;
  }
}

.about__input {
  @include input-font;
  @include input-size;

  outline: none;

  margin-bottom: 14px;

  &:hover {
    border-color: $more-border;
  }

  &:focus {
    border-color: $basic-text;
  }

  &:invalid {
    border-color: $error;
  }

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.about__monicker {
  width: 209px; //74%

  @media (min-width: $tablet-width) {
    width: 547px; //82%
  }

  @media (min-width: $desktop-width) {
    width: 483px; //85%
    padding-left: 18px;
  }
}

.about__weight {
  width: 183px; //65%

  @media (min-width: $tablet-width) {
    width: 515px; //77%
  }

  @media (min-width: $desktop-width) {
    width: 450px; //79%
  }
}

.about__age {
  width: 150px; //53%
  padding-left: 12px;

  @media (min-width: $tablet-width) {
    width: 474px; //71%
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 414px; //71%

    padding-left: 13px;
    margin-bottom: 0;
  }
}
