.choice {
  display: flex;
  flex-direction: column;

  border-left: none;
  border-right: none;
  border-top: 1px solid $product-border;
  border-bottom: 1px solid $product-border;

  margin: 0 0 26px 0;
  padding: 23px 20px 20px 20px;

  @media (min-width: $tablet-width) {
    border-left: 1px solid $product-border;
    border-right: 1px solid $product-border;

    padding: 25px 0 25px 0;
    margin: 0 30px 0 69px;
  }

  @media (min-width: $desktop-width) {
    width: 45%;

    margin: 0 110px 0 80px;
    padding: 25px 0 25px 0;
  }
}

.choice__input {
  & + .choice__label::before {
    position: absolute;
    content: "";

    top: -35%;
    left: 0;

    width: 30px;
    height: 30px;

    border: 1px solid $more-border;
    border-radius: 50%;
  }

  &:hover + .choice__label::before,
  &:focus + .choice__label::before {
    border-color: $radio-hover;
  }

  &:checked + .choice__label::after {
    position: absolute;
    content: "";

    top: 2px;
    left: 9px;

    width: 14px;
    height: 14px;

    background-color: $basic-green;
    border-radius: 50%;
  }

  &:disabled + .choice__label,
  &:disabled + .choice__label::before,
  &:disabled + .choice__label::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    & + .choice__label::before {
      width: 40px;
      height: 40px;

      top: -20%;
      left: 4%;
    }

    &:checked + .choice__label::after {
      width: 18px;
      height: 18px;

      top: 6px;
      left: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    & + .choice__label::before {
      width: 40px;
      height: 40px;

      top: -17%;
      left: 4%;
    }

    &:checked + .choice__label::after {
      width: 18px;
      height: 18px;

      top: 7px;
      left: 35px;
    }
  }
}

.choice__label {
  position: relative;

  cursor: pointer;

  padding-left: 45px;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;

    padding-left: 89px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}
