.contact-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  padding: 0;
  margin: 0 0 12px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;

    margin-bottom: 47px;
  }
}

.contact-form__title {
  padding: 0 26px 0 20px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 0 44px 0 38px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    margin-bottom: 76px;
  }
}

.contact-form__grid {
  position: relative;

  margin: 0;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 69px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 110px;

    &:last-child {
      margin-left: 80px;
      padding: 0 110px 0 0;
    }
  }
}

.contact-form__label {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  // @media (min-width: $desktop-width) {

  // }
}

.contact-form__input {
  @include input-font;
  @include input-size;

  outline: none;
  margin-bottom: 15px;

  &:hover {
    border-color: $more-border;
  }

  &:focus {
    border-color: $basic-text;
  }

  &:invalid {
    border-color: $error;
  }

  &:focus + .contact-form__icon-email {
    stroke: $basic-green;
  }

  &:invalid + .contact-form__icon-email {
    stroke: $error;
  }

  &:focus + .contact-form__icon-phone {
    fill: $basic-green;
  }

  &:invalid + .contact-form__icon-phone {
    fill: $error;
  }

  @media (min-width: $tablet-width) {
    padding-left: 19px;
    margin: 0 31px 23px 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 17px;
    margin-right: 0;
  }
}

.contact-form__mail {
  width: 200px;

  margin-left: 8px;

  @media (min-width: $tablet-width) {
    width: 528px;

    margin-left: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 460px; //468px

    margin: 0 0 0 20px;
  }
}

.contact-form__phone {
  width: 184px;

  margin-left: 7px;

  @media (min-width: $tablet-width) {
    width: 510px;

    margin-left: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 450px;

    margin-left: 15px;
  }
}

.contact-form__icon-email {
  position: absolute;
  content: "";

  top: 28%;
  right: 11%;

  width: 20px;
  height: 15px;

  fill: none;
  stroke: $subtitle;

  @media (min-width: $tablet-width) {
    top: 25%;
    right: 80px;
  }

  @media (min-width: $desktop-width) {
    top: 37%;
    right: 16px;
  }
}

.contact-form__icon-phone {
  position: absolute;
  content: "";

  top: 24%;
  right: 10%;

  width: 20px;
  height: 21px;

  @media (min-width: $tablet-width) {
    top: 21%;
    right: 79px;
  }

  @media (min-width: $desktop-width) {
    top: 22%;
    right: 18%;
  }
}
