.contact-form {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-bottom: 69px;
  }
}

.contact-form__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.contact-form__mail {
  @media (min-width: $desktop-width) {
    margin-right: 50px;
  }
}

.contact-form__mail,
.contact-form__phone {
  @include input-font;
  @include input-size;
}

// .contact-form__email-title,
// .contact-form__phone-title {

// }
