.form {
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__btn {
  margin-bottom: 30px;
  text-align: center;

  .button {
    min-width: 280px;
    margin: 0 auto 18px auto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    margin: 0 30px 105px 69px;

    .button {
      font-size: 20px;
      width: 282px;

      padding: 16px 20px;
      margin: 0 61px 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;

    .button {
      width: 569px; //46-47%

      margin: 0 81px 53px 0;
    }
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;

    margin-bottom: 70px;
  }
}

.form__text-small {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  word-wrap: break-word;
  text-transform: none;

  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
