.form {
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;
}

.form__btn {
  // text-align: center;

  margin-bottom: 32px;

  & .button {
    margin-bottom: 21px;
  }
}

.form__text-small {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  text-transform: none;

  color: $basic-black;
}
