.message {
  padding: 0;
  margin: 0 0 23px 0;
}

.meaasge__title {
  margin-bottom: 38px;
}

.message__text {
  @include input-font;

  min-width: 280px;
  box-sizing: border-box;

  border-color: $input;
  outline: none;

  padding: 10px 13px 0 13px;

  &::placeholder {
    text-align: center;
  }

  &:hover {
    border-color: $more-border;
  }

  &:focus {
    border-color: $basic-text;
  }

  @media (min-width: $tablet-width) {
    width: 90%;

    &::placeholder {
      text-align: left;
    }
  }

  @media (min-width: $desktop-width) {
    width: 97%;

    &::placeholder {
      text-align: left;
    }
  }
}
