.message {
  padding: 0;
  margin: 0 0 23px 0;
}

.meaasge__title {
  margin-bottom: 38px;
}

.message__text {
  @include input-font;

  min-width: 280px;
  border-color: $input;

  padding: 10px 13px 0 13px;

  &::placeholder {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    width: 90%;

    &::placeholder {
      text-align: left;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;

    &::placeholder {
      text-align: left;
    }
  }
}
