.pick {
  font-family: "Oswald", "Arial", sans-serif;
}

.pick__title {
  font-size: 36px;
  line-height: 36px;

  color: $basic-black;
}

.pick__text {
  text-transform: uppercase;

  color: $basic-black;
}
