.pick {
  font-family: "Oswald", "Arial", sans-serif;
}

.pick__title {
  margin: 27px 0 37px 0;
}

.pick__text {
  text-transform: uppercase;

  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
